{% extends 'content.html.j2' %}

{% block og %}
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://noman.sh/images/logo.png" />
  <meta property="og:title" content="{{ command }} command: noman - Man pages without the man" />
  <meta property="og:url" content="https://noman.sh/{{ lang }}/pages/{{ command }}.html" />
{% endblock og %}

{% block title %}
  {{ command }} - noman
{% endblock %}

{% block content %}
  {{ content }}
{% endblock %}
